@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: rgb(18, 18, 18);
}

header {
    background-color: rgb(41, 41, 41);
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20%;
    cursor: pointer;
}

nav {
    position: relative; /* ao objeto pai*/
    margin: 4px;
    padding: 5px;
    top: 0;
    width: 50%;
}

nav a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 4px;
    padding: 5px;
    list-style: none; /* none - eliminar algo que você queira, nesse caso não quer estilo nenhum no ul (tira os pontos) */
}
li {
    margin: 4px;
    padding: 5px;
}

a {
    text-decoration: none; /* tira a decoração do link, o _ */
    color: white;
    cursor: pointer;

}

nav a:hover {
    background-color: black;
    transition: 0.7s;
}

#nome {
    color: white;
}

.circulos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 30px;
}

img {
    margin: auto;
    display: block;
}

.circulos p {
    text-align: center;
    margin-top: 20px;
}

.texto-abaixo p {
    color: white;
    text-align: center;
    font-size: 24px;
}

h3 {
    color: white;
    margin-left: 60px;
}


.img-redonda {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

p {
    color: white;
}

.artigos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 30px;
}

.artigos img {
    margin-top: 60px;
    width: 300px;
    height: 200px;
}

footer {
    width: 100%;
    height: 300px;
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    justify-content: space-evenly;
}


#contatos li {
    list-style: none;
}

#importante li{
    list-style: none
}

footer a:hover {
    background-color: #000;
    transition: 1s;
}

footer h2 {
    text-align: center;
    font-size: 16px;
}

footer i {
    padding: 3px;
    font-size: 20px;
}

.slideshow {
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navegacao {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navegacao-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navegacao-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegacao-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navegacao-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navegacao-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navegacao-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navegacao-auto .auto-btn4 {
    background-color: #fff;
}





